.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  
  .app__profiles {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 1rem;
    justify-items: center;

    @media screen and (max-width: 900px) {
      grid-template-columns: auto;
    }
  }
  
  .app__profile-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
    margin: 1rem;
  
    img {
      max-width: 70%;
      height: auto;
      border-radius: 15px;
      object-fit: cover;
    }
  
    @media screen and (min-width: 2000px) {
      max-width: 90%;
      height: auto;
      margin: 2rem 4rem;
  
      img {
        height: 320px;
      }
    }
  }